.App {
  text-align: center;
  background-image: linear-gradient(10deg, lightblue 50%, transparent 50%), linear-gradient(-60deg, brown 30%, transparent 30%);
  }

body {
  font-family: 'Courier New', Courier, monospace;  
}

h1 {
  text-align: center;
  background-color: blue;
  color: aliceblue;
}

